

.candidate-form {
    &__header {
        color: #fff;
        font-size: 2rem;
        font-style: normal;
        font-weight: normal;
        text-align: center;
    }
    &__field-input {
        margin-bottom: 40px;
    }
}